.responsive-container {
  position: relative;
  width: 100%;
}

.aspect-ratio-1-1 {
  padding-top: 100%; /* forces 1:1 aspect ratio */
}

.img-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
  text-align:center; /* Align center inline elements */
  font: 0/0 a;
  overflow: hidden;
}

.img-container .centerer {
  /* display: inline-block; */
  /* vertical-align: middle; */
  height: 70%;
  /* top: 120%; */
}

.img-container img {
  vertical-align: middle;
  display: inline-block;
  /* width: 75%; */
  height: 10%;
  max-height: 100%; /* <-- Set maximum height to 100% of its parent */
  /*max-width: 100%; */ /* <-- Set maximum width to 100% of its parent */
    
}

.bottom-shadow {
  -webkit-box-shadow: 0 0 8px rgba(0,0,0, 1);
  -moz-box-shadow: 0 0 8px rgba(0,0,0, 1);
  box-shadow: 0 0 8px rgba(0,0,0, 1);
}

.header {
  background-color: #1C2A34;
  width: 100%;
  vertical-align: middle;
}

.header img {
  padding: 5px 5px;
}

.header ul {
  margin-top: 12px;
}

.nav li {
  font-size: 30px;
  margin-right: 20px;
}

.nav li:hover:before {
  background: #FFFFFF;
  bottom: 0px;
  content: "";
  display: block;
  height: 5px;
  margin: 0 0 -1px;
  position: absolute;
  width: 100%;
}

.white {
  color: white;
  height: 100%;
}

section {
  margin-top: 20px;
}